<div class="container">
  <ng-container *ngIf="(measurements$ | async) as measurements">
    <div class="p-grid">

      <div class="p-col-12">
        <app-max-min-values [data]="measurements"></app-max-min-values>
      </div>

      <div class="p-col-23">
        <app-measurements-table [tableData]="measurements"></app-measurements-table>
      </div>

      <div class="p-col-12">
        <app-doughnut-chart [doughnutData]="measurements"></app-doughnut-chart>
      </div>

      <div class="p-col-12">
        <app-line-chart [lineChartData]="measurements"></app-line-chart>
      </div>

    </div>
  </ng-container>
</div>
